.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding: 20px;
  background-color: azure;
  border: 2px solid skyblue;
}
.formLabel {
  font-style: italic;
  font-weight: 600;
  padding: 5px;
}
.formInput {
  margin: 5px;
  box-shadow: 8px 2px 12px 5px #818180;
  border: 1px solid seagreen;
  border-radius: 5%;

  padding: 4px;
  font-size: 15px;
}
.formBtn {
  padding: 5px;
  box-shadow: 8px 2px 12px 5px #818180;
  border: 1px solid seagreen;
  border-radius: 5%;
  background-color: #fff;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  transform: scale(1);
}
.formBtn:hover,
.formBtn:focus {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: azure;
}
