.form {
  margin: 30px;
}
.form_title {
  color: orange;
}
.form_field {
  margin: 10px;
}
.error_message {
  color: red;
  font-weight: 600;
  margin-left: 170px;
}
.link {
  font-weight: 600;
}
.form_btn {
  margin: 10px 0;
}
